<div *ngIf="user.google">
  <small style="position:absolute; top:10px;right:100px;">
    Hello, {{user.google.displayName}}
    <br />
    <button md-button (click)="logout()">
      Logout
    </button>
  </small>
  <img src="{{user.google.photoURL}}" class="user-image" />

</div>

<div *ngIf="!user.google">
  <button md-button (click)="login()">
    Login
  </button>
</div>


<style>
  .user-image {
    position:relative;
    margin-top:40px;
    border-radius: 50%;
    height: 80px;
  }
</style>