<div class='md-padding' layout="row" flex>
  <div layout="row" flex>
    <div class="parent" layout="column" flex>
      <div *ngIf="user.google">
        <img src="{{user.google.photoURL}}" class="user-image" />
      </div>
    </div>
    <div class="parent" layout="column" flex>
      <div *ngIf="user.google">
        <button md-button (click)="logout()">
          Logout
        </button>
      </div>
      <div *ngIf="!user.google">
        <button md-button (click)="login()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>



<style>
  .user-image {
    border-radius: 10%;
    height: 40px;
  }
</style>