<top-menu></top-menu>

<div *ngIf="city">
  <div layout="row" flex>
    <div class="parent" layout="column" flex style="max-width:60px;">
      <a href="/" class="siteHome" title="Home">
        <md-icon>home</md-icon>
      </a>
    </div>
    <div class="parent" layout="column" flex>
      <h2 class="cityName">Greater Vancouver Area</h2>
    </div>
  </div>
</div>

<md-card>
  
  <form>
    <md-card-content>
      <h2>New Trail</h2>

      <div layout="row" flex style="max-width:500px;">
        <div class="parent" layout="column" flex>

          <md-select placeholder="Region" name="region">
            <md-option *ngFor="let region of regions">
              {{ region }}
            </md-option>
          </md-select>

        </div>
      </div>

      <div layout="row" flex style="max-width:500px;">
        <div class="parent" layout="column" flex>

          <md-input-container>
            <input mdInput placeholder="Title" [(ngModel)]="trail.name" name="name">
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex>
        <div class="parent" layout="column" flex>

          <md-input-container>
            <textarea mdInput placeholder="Description" [(ngModel)]="trail.description" name="description"></textarea>
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-input-container>
            <input mdInput type="number" placeholder="Length" [(ngModel)]="trail.distance" name="distance">
            <span md-suffix>k.m.</span>
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-input-container>
            <input mdInput type="number" placeholder="Duration" [(ngModel)]="trail.time" name="time">
            <span md-suffix>hours</span>
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-select placeholder="Difficulty" name="difficulty">
            <md-option *ngFor="let difficulty of difficulties">
              {{ difficulty }}
            </md-option>
          </md-select>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-input-container>
            <input mdInput type="number" placeholder="Lat" [(ngModel)]="trail.lat" name="lat">
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>


          <md-input-container>
            <input mdInput type="number" placeholder="Alt" [(ngModel)]="trail.alt" name="alt">
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-input-container>
            <input mdInput placeholder="Hash Tags" [(ngModel)]="trail.hashtags" name="hashtags" >
          </md-input-container>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-checkbox >Dog Friendly</md-checkbox>
          <!--<md-checkbox>Dog Friendly</md-checkbox>-->

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <!--<md-checkbox [(ngModel)]="trail.publicTransit">Public Transit</md-checkbox>-->
          <md-checkbox name="publicTransit">Public Transit</md-checkbox>

        </div>
      </div>

      <div layout="row" flex style="max-width:200px;">
        <div class="parent" layout="column" flex>

          <md-checkbox >Camping</md-checkbox>
          <!--<md-checkbox [(ngModel)]="trail.camping">Camping</md-checkbox>-->

        </div>
      </div>

    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" (click)="save(trail)" name="save">
        <md-icon>save</md-icon>
        SAVE
      </button>
    </md-card-actions>
  </form>

</md-card>



<style>
  .siteHome {
    padding: 20px;
  }

  .cityName {
    color: #3f51b5;
  }
</style>