<div *ngIf="trails">

  <!--<h1>
    {{city.title}}
  </h1>-->

  <md-card>
    <md-card-title>Greater Vancouver Area</md-card-title>
    <md-card-content class="flex-container"
                     fxLayoutWrap="wrap"
                     fxLayout="row"
                     fxLayoutAlign="left" fxLayoutAlign.xs="start">

      <md-card class="city-card-filter">
        <md-card-header>
          <md-card-title>Sort By:</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-radio-group>
              <md-radio-button value="1">Name</md-radio-button>
              <md-radio-button value="2">Region</md-radio-button>
              <md-radio-button value="2">Time</md-radio-button>
              <md-radio-button value="2">Difficulty</md-radio-button>
              <md-radio-button value="2">Distance</md-radio-button>
          </md-radio-group>
        </md-card-content>
      </md-card>

      <md-card class="city-card-filter">
        <md-card-header>
          <md-card-title>Filter By:</md-card-title>
        </md-card-header>
        <md-card-content>
          <div style="padding:40px">
            <md-input-container>
              <input mdInput placeholder="Title" value="">
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Region" value="">
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>


    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title></md-card-title>
    <md-card-content class="flex-container"
                     fxLayoutWrap="wrap"
                     fxLayout="row"
                     fxLayoutAlign="center" fxLayoutAlign.xs="start">

      <md-card class="city-card" (click)="gotoDetail(city)">
        <md-card-header>
          <md-card-title></md-card-title>
          <md-card-subtitle></md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            Sort: Filter:
          </p>
        </md-card-content>
      </md-card>


      <md-card *ngFor="let trail of trails" class="city-card" (click)="gotoDetail(city)">
        <md-card-header>
          <md-card-title>{{trail.name}}</md-card-title>
          <md-card-subtitle>{{trail.region}}</md-card-subtitle>
        </md-card-header>
        <!--<img md-card-image src="{{city.image}}">-->
        <md-card-content>
          <p>
            {{trail.rating}} &nbsp; {{trail.voteCount}}
            {{trail.difficulty}}
            {{trail.time}}
            {{trail.distance}}
          </p>
        </md-card-content>
        <!--<md-card-actions>
          <button md-button>
            <md-icon>favorite</md-icon>
          </button>
          <button md-button>
            <md-icon>twitter</md-icon>
          </button>
        </md-card-actions>-->
      </md-card>

    </md-card-content>
  </md-card>

</div>


<style>
  .mat-grid-tile .mat-grid-tile-header {
    background-color: #9FA8DA;
  }
</style>