<div *ngIf="trail">
  
    <h2 class="trailName">
      {{trail.name}} 
    </h2>
    <h5 class="trailDetail">
      {{trail.difficulty}} trail, Takes {{trail.time}} hours for most people
    </h5>

    <map-component></map-component>

    <md-card>
      <md-card-content class="flex-container"
                       fxLayoutWrap="wrap"
                       fxLayout="row"
                       fxLayoutAlign="left" fxLayoutAlign.xs="start">
              
              <div class="parent">
                {{trail.description}}
              </div>
              <div class="parent">
                {{trail.time}}
              </div>
              <div class="parent">
                {{trail.distance}}
              </div>
      </md-card-content>
    </md-card>

  </div>


<style>
  .trailName {
    padding-left: 20px;
    margin-bottom: 5px !important;
  }
  .trailDetail {
    padding-left: 20px;
    margin-top:5px !important;
  }
</style>