<div *ngIf="trail">
  
    <h2 class="trailName">
      {{trail.name}} 
    </h2>
    <h5 class="trailDetail">
      {{trail.difficulty}} trail, Takes {{trail.time}} hours for most people
    </h5>

    <map-component></map-component>

    <md-card>
      <md-card-content class="flex-container"
                       fxLayoutWrap="wrap"
                       fxLayout="row"
                       fxLayoutAlign="left" fxLayoutAlign.xs="start">
              
          <div class="parent">
            {{trail.description}}
            <md-checkbox [checked] ="trail.dogFriendly">Dog Friendly</md-checkbox>
            <md-checkbox [checked] ="trail.camping">Camping</md-checkbox>
            <md-checkbox [checked] ="trail.publicTransit">Public Transit</md-checkbox>

            <hr />            
            Comments:

          </div>

      </md-card-content>
    </md-card>

  </div>

  <instagram-feed *ngFor="let feed of feeds" [feed]="feed"></instagram-feed>

<style>
  .trailName {
    padding-left: 20px;
    margin-bottom: 5px !important;
  }
  .trailDetail {
    padding-left: 20px;
    margin-top:5px !important;
  }
</style>