<div *ngIf="trail">
  
    <h2>{{trail.name}}</h2>
    <map-component></map-component>

    <md-card>
      <md-card-content class="flex-container"
                       fxLayoutWrap="wrap"
                       fxLayout="row"
                       fxLayoutAlign="left" fxLayoutAlign.xs="start">
              
              <div class="parent">
                {{trail.description}}
              </div>
              <div class="parent">
                {{trail.time}}
              </div>
              <div class="parent">
                {{trail.distance}}
              </div>
      </md-card-content>
    </md-card>

  </div>

